/* types.html */
/*
p{font-size: 30px;color: aquamarine;}
h1{color:lightgreen !important;}
*/



/* selector1.html */
/*
// Universal selector 
*{font-size: 25px;}

// id selector 
#n1,n2{
    color: blue;
    background-color: yellow;
}

// class selector 
.text-red{color: red;}
.text-center{text-align: center;}
*/



/* selector2.html */
/**/

